// Acronym maker
.acronym-container {
    display: flex;
    flex-direction: row;
}

/* define the width for left side */
.acronym-left {
    width: 80%;
}

/* outline style for the right side */
.acronym-right {
    background-color: #48567B;
    width: 50%;
    z-index: 1;
    height:800px;
    overflow: auto;
}

// input box for new term
.acronym-new-term{
    margin-top: 50%;
    margin-left: 10%;
    border: none;
    border-bottom: 3px solid black;
    width:80%;
    font-size: 20px;
}

.acronym-back-button{
    width:5% !important;
    left: 2% !important;
}

// hide and shuffle buttoons
#hide{
    position: absolute;
    left: 54%;
    top: 4.2%;
    width: 5%;
}

#shuffle{
    position: absolute;
    left: 48%;
    top: 3%;
    width: 7%;
}

// style list
#acronym-list{
    list-style: none;
    float: left;
}

// #acronym-list>li:nth-child(3n+2){
#acronym-list>li:nth-child(odd){
    font-weight:bold;
    font-size: 30px;
    color: white;
}

// #acronym-list>li:nth-child(3n){
#acronym-list>li:nth-child(even){
    font-size: 20px;
    color: white;
}

// switch to stacked layout when reach a tablet size
@media only screen and (max-width: 820px) {
    .acronym-container {
        display:flex;
        flex-direction: column;
    }
    .acronym-left {
        width: 100%;
        margin-bottom: 20%;
    }

    .acronym-right {
        background-color: #48567B;
        width: 100%
    }

    #hide{
        left: 83%;
        top: 7.5%;
        width: 7%;
    }
    
    #shuffle{
        top: 7%;
        left: 88%;
        width: 9%;
    }
}