// // HOMEPAGE
.home-page{
    background-color: #48567B;
}

// splitting screen into correct proportions
#home-welcome-screen{
    display: grid;
    grid-template-columns: 1.15fr 0.85fr;
}

// task container of form + tasks
.container-tasks{
    background-color: #484851;
    margin: 0% 15%;
    padding: 5% 0px 0% 0%;
    border-radius: 40px;
    width: 70%;
}

// taskform with attributes of a new task
#taskform{
    align-items: center;
    padding: 0px 0px 40px 30px;
    border-radius: 40px;
}

// rhs nav bar
#links-to-pages {
    display: flex;
    flex-direction: column;
    float: right;
}

// outline formating of each link option
#home-link-2, #home-link-4, #home-link-1, #home-link-3, #home-link-5{
    color: #3A4056;
    text-decoration: none;
    font-family: 'Inter Regular', sans-serif;
    font-size: 2.8rem;
    font-weight: 300;
    padding: 7.4% 30px 7.4% 15px;
}

// change background colour
#home-link-1, #home-link-3, #home-link-5{
    background-color: #E0E0E0;
}

#home-link-2, #home-link-4{
    background-color: white;
}

#welcome{
    font-size: 4rem;
    margin-bottom: -55px;
}

#here-tasks{
    font-size: 2rem;
}

// define tasklist attributes and enable scrolling
#tasklist{
    list-style: none;
    color: white;
    font-size: 110%;
    font-family: 'Inter Regular', sans-serif;
    font-weight: 300;
    overflow: auto;
    height: 220px;
}

// set parameters for the task input fields
.allTaskInput{
    border: none;
    border-bottom: 2px solid white;
    opacity: 100;
    background: transparent;
    color: white;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

// style the submit task buttons
#submitTask{
    border-radius: 10px;
    background-color: white;
    border: none;
    font-size: 15px;
    opacity: 0.8;
}

#submitTask:hover{
    background-color: rgb(238, 238, 238);
    font-size: 15.5px;
    color: black;
    opacity: 1;
    cursor: pointer;
}