// Pomodoro timer
.body-pomodoro{
    background-color: #48567B
}

.pomodoro-settings-div{
    position: absolute;
    width: 20%;
    height: 35%;
    // background-color: red;
}

.pomodoro-settings {
    display: flex;
    flex-direction: column;
    float: left;
}

#numSessInput, #studyTimeInput, #studyBreakInput{
    border: none;
    border-bottom: 3px solid black;
    background-color: white;
    opacity: 0.8;
}

#pomodoro-SessSettings{
    text-align: left;
    margin-bottom: 10%;
}

.pomodoro-timer-outline{
    height: 35vw;
    width: 35vw;
    background-color: rgb(255, 255, 255);
    // border-color: black;
    border-radius: 50%;
    position: absolute;
    top: 16%;
    left: 17%
}

#pomodoro-start{
  width: 20%;
  background-color: #E74E4D;
  border-radius: 5px;
  border: none;
  color: white;
position: absolute;
top: 67%;
left: 23%
}

#pomodoro-countdown{
    font-size: 8rem;
    position: absolute;
    left: 23%;
    top: 34%;
}

#pomodoro-set-time{
    position: relative;
    left: 2%;
    margin-top: 8px;
    width: 50%;
    margin-bottom: 15px;
    background-color: #484851;
  border-radius: 5px;
  border: none;
  color: white
}

.pomodoro_container{
    position: absolute;
    top: 25%;
    right: 15%;
    width: 30%;
    height: 60%;
    // background-color: red;
}

#sessionText{
    position: absolute;
    top: 65%;
}

#totalTime{
    position: absolute;
    top: 70%;
    left: 15%
}

