// Pomodoro timer
.body-pomodoro{
    background-color: #48567B
}

.pomodoro-settings-div{
    position: absolute;
    top: 18%;
    right: 15%;
    width: 30%;
    height: 50%;
    // background-color: red;
}

.pomodoro-settings {
    display: flex;
    flex-direction: column;
    float: left;
}

#numSessInput, #studyTimeInput, #studyBreakInput{
    border: none;
    border-bottom: 3px solid black;
    background-color: white;
    opacity: 0.8;
}

#pomodoro-SessSettings{
    text-align: left;
    margin-bottom: 10%;
}

.pomodoro-timer-outline{
    height: 55%;
    width: 30%;
    background-color: rgb(255, 255, 255);
    // border-color: black;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 20%
}

#pomodoro-start{
    position: absolute;
  left: 30%;
  top: 60%;
}

#pomodoro-countdown{
    font-size: 70px;
    position: absolute;
    left: 30%;
    top: 40%;
}